h1 {color: #80080;
	text-align: center;
	font-family: Impact, sans-serif;
	font-size: 40px;}
h2 {color: green;
	font-size: 24px}
p {	font-family: helvetica;
	font-size: 16px}
.row1 {color: indigo}	
.row2 {color: lightgray}
.text {color: indigo}
.list {color: indigo}
ul {	font-family: helvetica;
	font-size: 20px}
body{background-image: url(images/background.jpg);
	}